main article{
  background-size: 50%;
  padding: 0 0 0 280px;
  height: 280px;
  max-width: 700px;
}

article .article-main{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 35px;
  border-radius: 0 10px 10px 0;
}
article footer address{
  width: 68%;
} 

#share-section{
  width: fit-content;
  height: fit-content;
  padding: 8px 30px;
  justify-content: center;
  border-radius: 10px;
  top: -71px;
  left: 211px;
}

#share-section::after{
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--dark-grayish-blue);
  position: absolute;
  top: 34px;
  transform: rotate(45deg);
}

article .article-content{
  margin-block-end: 20px; 
}